$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

$timingFast: 0.15s;
$timingMedium: 0.25s;

.bar {
  color: $nord6;
  background: $nord0;
  border-radius: 0;
}

.icon-font {
  font: 24px "Hack Nerd Font";
}

.panel {
  background: $nord0;
}

.toggle-panel {
  border-radius: 0;
  border: none;

  .toggle-panel-button {
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;

    .toggle-panel-icon {
      font-size: 48px;
    }
  }
}

.workspace {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 99999px;
}

.network {
  .wired {
    &.connected {
      color: $nord6;
    }

    &.disconnected {
      color: $nord11;
    }
  }
}

.vertical-bar {
  .network {
    padding-right: 6px;
  }

  .vertical-bar-content {
  }

  .vertical-bar-top {
  }

  .vertical-bar-bottom {
    padding-bottom: 8px;
  }

  .vertical-time {
    font: 26px "Vina Sans";
    margin-top: -8px;

    .hours {
    }
    .minutes {
      margin-top: -10px;
    }
  }

  .workspaces {
    .workspaces-container {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .workspace {
      min-width: 8px;
      min-height: 8px;
      background: $nord1;
      transition:
        min-height $timingMedium ease-in-out,
        background $timingMedium ease-in-out;

      &.occupied {
        background: lighten($nord3, 10%);
      }

      &.active {
        background: $nord10;
        min-height: 24px;
      }
    }
  }
}

.vertical-panel {
  min-width: 400px;

  .apps {
    // background: $nord1;

    .apps-search {
      min-height: 48px;
      background: $nord1;

      .apps-search-entry {
        border-radius: 0;
        border: none;
        background: $nord1;
      }

      .apps-search-icon {
        color: $nord3;
        font-size: 32px;
        padding-right: 16px;
      }
    }
  }
}
